@import "../../GlobalStyles/scss/variables/breakpoints";
@import "../../GlobalStyles/scss/variables/colors";

.block {
  background-color: $brand-color-5;
  border-bottom: 1px solid $brand-color-6;
  padding: 0;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $screen-xl;
  min-width: 20rem;
  padding: 0 1.5rem;

  h1 {
    color: $brand-color-1;
    margin-bottom: 0;
  }
}
