@import '../../components/GlobalStyles/scss/variables/colors';

.block {
  background-color: rgba($neutral-20, .5);
  border: .0625rem solid $neutral-30;
  border-radius: .125rem;
  height: 100%;
  max-width: 10.5rem;
  padding: .5rem;
}
.header {
  line-height: 1.2;
}

.image {
  display: block;
  margin: 0 auto .375rem;
}
