@import '../../components/GlobalStyles/scss/variables/colors';

.block {
  background-color: rgba($neutral-20, .5);
  border: .0625rem solid $neutral-30;
  border-radius: .125rem;
  height: 100%;
  padding: .25rem .5rem;
}
