@import "../../GlobalStyles/scss/variables/colors";

.block {
  background-color: rgba($brand-color-4, .2);
  height: 3.125rem;
  overflow: hidden;
  text-indent: -100%;

  &--full {
    width: 5.875rem;
  }

  &--logo {
    background-position: center left;
    width: .75rem;
  }
}
