@import "../../GlobalStyles/scss/variables/breakpoints";
@import "../../GlobalStyles/scss/variables/colors";

.block {
  margin: .5rem auto 0;
  max-width: $screen-xl;
  min-width: 20em;
  padding: 0 2rem;
}

.list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0 auto;
}

.list-item {
  + .list-item {
    margin-left: 1rem;
  }
}

.link {
  color: $brand-color-3;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: color .3s ease-in-out;

  &:hover,
  &:active {
    color: $brand-color-4;
  }

  &--active {
    border-bottom: .125rem solid $brand-color-4;
    color: $brand-color-4;
  }
}
