@import "../../GlobalStyles/scss/variables/breakpoints";
@import "../../GlobalStyles/scss/variables/colors";

.block {
  border-top: 1px solid $brand-color-5;
  padding: 0 2rem;
}

.list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0 auto;
  max-width: $screen-xl;
  min-width: 20em;
  padding: 0 1.5rem;
}

.list-item {
  + .list-item {
    margin-left: 1rem;
  }
}

.link {
  display: block;
  padding: .5rem 1rem;

  &--active {
    background-color: $brand-color-1;
  }
}
