@import "../../GlobalStyles/scss/variables/breakpoints";
@import "../../GlobalStyles/scss/variables/colors";

.block {
  padding: 0 2rem;
}

.list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0 auto;
  max-width: $screen-xl;
  min-width: 20em;
  padding: 0 1.5rem;
}

.list-item {
  + .list-item {
    margin-left: 1rem;
  }
}

.link {
  color: $brand-color-9;
  display: block;
  padding: .5rem 1rem;

  &:hover,
  &:active {
    background-color: rgba($brand-color-6, .5);
  }

  &--active {
    background-color: $brand-color-6;
    color: $brand-color-10;

    &:hover,
    &:active {
      background-color: rgba($brand-color-7, .5);
    }
  }
}
