$brand-color-1: #001219;
$brand-color-2: #005F73;
$brand-color-3: #0A9396;
$brand-color-4: #94D2BD;
$brand-color-5: #E9D8A6;
$brand-color-6: #EE9B00;
$brand-color-7: #CA6702;
$brand-color-8: #BB3E03;
$brand-color-9: #AE2012;
$brand-color-10: #9B2226;

// neutral
$neutral-10: #212529;
$neutral-20: #343A40;
$neutral-30: #495057;
$neutral-40: #6C757D;
$neutral-50: #ADB5BD;
$neutral-60: #CED4DA;
$neutral-70: #DEE2E6;
$neutral-80: #E9ECEF;
$neutral-90: #F8F9FA;
