@import "../GlobalStyles/scss/variables/colors";

.block {
  display: inline-block;

  &--active {
    color: #333333;
  }

  &--inactive {
    color: $neutral-30;
    text-decoration: line-through;
  }
}
